@media screen and (max-aspect-ratio: 1/1) {
  .Container {
    width: 95vw;
  }
}

@media screen and (min-aspect-ratio: 1/1) {
  .Container {
    width: 90vw;
  }
}

@media screen and (min-aspect-ratio: 4/3) {
  .Container {
    width: 80vw;
  }
}

@media screen and (min-aspect-ratio: 16/9) {
  .Container {
    width: 60vw;
  }
}

.Tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: left;
}

.Tag {
  margin: 4px;
  padding: 4px;
  border-radius: 4px;
  background-color: #dddddd;
}

.Tag:hover {
  background-color: #606060;
  color: #eeeeee;
}
