.HomePage-HotList-Card {
  border-radius: 8px;
  box-shadow: 0 0 16px #666666;
  margin: 16px;
  padding: 16px;
}

.HomePage-HotList-Card-Title {
  font-size: 1.6rem;
  width: 100%;
  border-bottom: 4px solid #666666;
  margin-bottom: 8px;
}

.HomePage-HotList-Card-Intro {
  margin-bottom: 8px;
}
